<div class="row">
  <div class="col">
    <h1>{{ title }}</h1>
  </div>
</div>


<div class="form-group row" *ngFor="let item of searchParties; let i = index">

    <input
      class="form-control col mx-1"
      type="text"
      name="forenames"
      id="forenames"
      [value]="item.forenames"
      (input)="item.forenames = $event.target.value" />

    <input
      class="form-control col mx-1"
      type="text"
      name="surname"
      id="surname"
      [value]="item.surname"
      (input)="item.surname = $event.target.value" />

    <button
      class="btn btn-danger col-1 mx-1"
      (click)="removeSearchParty(i)">-
    </button>

</div>

<div class="form-group row" *ngIf="searchParties.length < 6">
  <input
    #forenameInput
    type="text"
    name="forenames"
    placeholder="Forename(s)"
    id="forenames"
    class="form-control col mx-1"
    [value]="searchParty.forenames || ''"
    (input)="searchParty.forenames = $event.target.value" />

  <input
    class="form-control col mx-1"
    type="text"
    name="surname"
    id="surname"
    placeholder="Surname"
    [value]="searchParty.surname || ''"
    (input)="searchParty.surname = $event.target.value"
    (keyup.enter)="submitButton.click();" />

    <button
      #submitButton
      class="btn btn-primary col-1 mx-1"
      (click)="addSearchParty()">+
    </button>

</div>
